<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WebviewName" value="WEBVIEW_com.fourth.marketplace" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <fourth driverType="Android" serverUrl="http://127.0.0.1:4723/wd/hub/" xdt:Transform="Replace">
    <capabilities>
      <add key="platformVersion" value="6.0.1"/>
      <add key="deviceName" value="Nexus 5"/>
      <add key="appPackage" value="com.fourth.marketplace"/>
      <add key="appActivity" value="com.salesforce.androidsdk.phonegap.ui.SalesforceDroidGapActivity"/>
      <add key="app" value="C:\\test\\engageapp.apk"/>
      <add key="recreateChromeDriverSessions" value="true"/>
      <add key="takesScreenshot" value="true"/>
    </capabilities>
  </fourth>
</configuration>