<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="WebviewName" value="WEBVIEW_1" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <fourth driverType="iOS" serverUrl="http://10.0.22.23:4723/wd/hub/" xdt:Transform="Replace">
    <capabilities>
      <!--http://192.168.0.24:4723/wd/hub/-->
      <add key="deviceName" value="Phoney"/>
      <add key="platformVersion" value="10.0.2"/>
      <add key="platformName" value="iOS"/>
      <add key="udid" value="eb5eb6083f3fdf78473b47217894547378a5bef9"/>
      <add key="xcodeOrgId" value="DK2MYTAD7Z" />
      <add key="xcodeSigningId" value="iPhone Developer" />
      <!--<add key="autoWebview" value="true"/>-->
      <!--<add key="useNewWDA" value="true"/>-->
      <!--<add key="bundleId" value="com.fourth.qa"/>-->
      <add key="app" value="/Users/itorres/Documents/FourthHybridNew.ipa"/>
    </capabilities>
  </fourth>
</configuration>