<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="3.0.0.2" targetFramework="net45" />
  <package id="AutomationFramework" version="1.0.0.30" targetFramework="net45" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net45" />
  <package id="Fourth.Automation.Framework.Core" version="1.2.0" targetFramework="net45" />
  <package id="Fourth.Automation.Framework.Mobile" version="1.2.0" targetFramework="net45" />
  <package id="MarkdownSharp" version="1.13.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="NUnit" version="3.7.1" targetFramework="net45" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net45" />
  <package id="Selenium.Chrome.WebDriver" version="2.31" targetFramework="net45" />
  <package id="Selenium.Firefox.WebDriver" version="0.18.0" targetFramework="net45" />
  <package id="Selenium.InternetExplorer.WebDriver" version="3.4" targetFramework="net45" />
  <package id="Selenium.Support" version="3.5.1" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.5.1" targetFramework="net45" />
  <package id="SlowMonkey" version="1.1.1" targetFramework="net45" />
  <package id="SpecFlow" version="2.2.0" targetFramework="net45" />
</packages>